{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Título -->
<title>Canes Grill - Home</title>
</head>
<body>
    {% include "partials/menu.html" %}
    
     <!-- ##### Best Receipe Area Start ##### -->
     <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                
                {% for chave, prato in lista_pratos.items  %}
                    <!-- Single Best Receipe Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-best-receipe-area mb-30">
                            <img src={% static "img/bg-img/foto_receita.png" %} alt="">
                            <div class="receipe-content">
                                <a href="#">
                                    <h5>{{ prato }}</h5>
                                </a>
                            </div>
                        </div>
                    </div>

                {% endfor %}



            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->
 
    <!-- ##### Footer Area Start ##### -->
    {% include "partials/footer.html" %}
{% endblock %}